src/pug/confirmation.pug
extends _main.pug

block title
	| BNB - Confirm and Sign

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					.steps 
						a.step-item.completed(href='receiver-info.html')
							span.step-number
								i.bx.bx-check
							span.hidden-xs Receiver Information
						a.step-item.completed(href='deposit-account.html')
							span.step-number
								i.bx.bx-check
							span.hidden-xs Deposit Account Details
						a.step-item.current(href='#0')
							span.step-number 3
							span.hidden-xs Confirmation
					
					.content-box.bg-white
						
						
						h3.section-title Summary
							a.btn.btn-sm.btn-edit.btn-outline-secondary(href='#0') Edit
						
						
						table.table.table-sm.table-borderless
							tr
								td Receiver:
								th Abdoulaye Bah
							tr
								td Sending Company:
								th Money Gram
							tr
								td Amount Received:
								th 500.00 CAD
							tr
								td Deposit Account:
								th GTBank
							tr
								td Account Number:
								th 0049491004949
						
						form
							.form-group
								label Signature:
								.signature-area
									.signature-legend.text-legend Draw your signature with your mouse
									a.btn.btn-link.btn-sm.text-muted.btn-edit(href='#0') Clear
									
						.mt-5
							a.btn.btn-primary.btn-lg.btn-block(href='success.html') Accept Money
							br
							a.btn.btn-outline-secondary.btn-lg.btn-block(href='cancel.html') Cancel

confirmation.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BNB - Confirm and Sign
    </title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="page page-md">
            <div class="header-box py-5">
              <div class="btn-grou float-right">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</button>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es"> </span> Spanish</a><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr"> </span> French</a></div>
              </div>
            </div>
            <div class="steps"> <a class="step-item completed" href="receiver-info.html"><span class="step-number"><i class="bx bx-check"></i></span><span class="hidden-xs">Receiver Information</span></a><a class="step-item completed" href="deposit-account.html"><span class="step-number"><i class="bx bx-check"></i></span><span class="hidden-xs">Deposit Account Details</span></a><a class="step-item current" href="#0"><span class="step-number">3</span><span class="hidden-xs">Confirmation</span></a></div>
            <div class="content-box bg-white">
              <h3 class="section-title">Summary<a class="btn btn-sm btn-edit btn-outline-secondary" href="#0">Edit</a></h3>
              <table class="table table-sm table-borderless">
                <tr>
                  <td>Receiver:</td>
                  <th>Abdoulaye Bah</th>
                </tr>
                <tr>
                  <td>Sending Company:</td>
                  <th>Money Gram</th>
                </tr>
                <tr>
                  <td>Amount Received:</td>
                  <th>500.00 CAD</th>
                </tr>
                <tr>
                  <td>Deposit Account:</td>
                  <th>GTBank</th>
                </tr>
                <tr>
                  <td>Account Number:</td>
                  <th>0049491004949</th>
                </tr>
              </table>
              <form>
                <div class="form-group">
                  <label>Signature:</label>
                  <div class="signature-area">
                    <div class="signature-legend text-legend">Draw your signature with your mouse</div><a class="btn btn-link btn-sm text-muted btn-edit" href="#0">Clear</a>
                  </div>
                </div>
              </form>
              <div class="mt-5"><a class="btn btn-primary btn-lg btn-block" href="success.html">Accept Money</a><br><a class="btn btn-outline-secondary btn-lg btn-block" href="cancel.html">Cancel</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
