src/pug/dashboard.pug
extends _main.pug

block title
	| BNB - Dashboard

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page
					+header-box
					h2 Users

					table.table.table-borderless.grid-table
						thead
							tr
								th(scope='col') #
								th(scope='col') First Name
								th(scope='col') Last Name
								th(scope='col') Email
								th(scope='col') Status
								th.text-right(scope='col') Actions
						tbody
							tr
								th(scope='row') 1
								td Mark
								td Otto
								td mark.otto@gmail.com
								td
									span.badge.badge-warning Pending Verification
								td.text-right
									.btn-group
										button.btn.btn-outline-secondary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											| Small button
										.dropdown-menu.dropdown-menu-right
											a.dropdown-item(href='#') Action
											a.dropdown-item(href='#') Action
											a.dropdown-item(href='#') Action
							
							tr
								th(scope='row') 2
								td Mark
								td Otto
								td mark.otto@gmail.com
								td
									span.badge.badge-success Verified
								td.text-right
									.btn-group
										button.btn.btn-outline-secondary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
											| Small button
										.dropdown-menu.dropdown-menu-right
											a.dropdown-item(href='#') Action
											a.dropdown-item(href='#') Action
											a.dropdown-item(href='#') Action
						
					nav(aria-label='Page navigation example')
						ul.pagination
							li.page-item.disabled
								a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
							li.page-item.disabled
								a.page-link(href='#') 1
							li.page-item
								a.page-link(href='#') 2
							li.page-item
								a.page-link(href='#') 3
							li.page-item
								a.page-link(href='#') Next


							
					.pt-5
						hr
						p Demo links:
						a.btn.btn-primary(href='receiver-info.html') Accept Transfer

dashboard.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BNB - Dashboard
    </title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="page">
            <div class="header-box py-5">
              <div class="btn-grou float-right">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</button>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es"> </span> Spanish</a><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr"> </span> French</a></div>
              </div>
            </div>
            <h2>Users</h2>
            <table class="table table-borderless grid-table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Status</th>
                  <th class="text-right" scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>mark.otto@gmail.com</td>
                  <td><span class="badge badge-warning">Pending Verification</span></td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Small button</button>
                      <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Action</a></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>mark.otto@gmail.com</td>
                  <td><span class="badge badge-success">Verified</span></td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Small button</button>
                      <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Action</a></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
            <div class="pt-5">
              <hr>
              <p>Demo links:</p><a class="btn btn-primary" href="receiver-info.html">Accept Transfer</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
