deposit-account.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BNB - Deposit Account Details
    </title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="page page-md">
            <div class="header-box py-5">
              <div class="btn-grou float-right">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</button>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es"> </span> Spanish</a><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr"> </span> French</a></div>
              </div>
            </div>
            <div class="steps"> <a class="step-item completed" href="receiver-info.html"><span class="step-number"><i class="bx bx-check"></i></span><span class="hidden-xs">Receiver Information</span></a><a class="step-item current" href="#0"><span class="step-number">2</span><span class="hidden-xs">Deposit Account Details</span></a><a class="step-item" href="#0"><span class="step-number">3</span><span class="hidden-xs">Confirmation</span></a></div>
            <div class="content-box bg-white">
              <div class="mb-4">
                <h4 class="h5">Abdoulaye Bah</h4>
                <p>Pick Up code: XXXXXXXX <br>Amount received: 250.00 CAD</p>
              </div>
              <h3 class="section-title">Choose where to deposit</h3>
              <form>
                <div class="form-row">
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice01" name="bank"/>
                      <label for="choice01">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-7.png" alt="Orange Money"/>
                        </div><span>Orange Money</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice02" name="bank"/>
                      <label for="choice02">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-8.png" alt="MTN Money"/>
                        </div><span>MTN Money</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice03" name="bank"/>
                      <label for="choice03">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-9.png" alt="Ecobank"/>
                        </div><span>Ecobank</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice04" name="bank"/>
                      <label for="choice04">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-10.png" alt="Cashplus"/>
                        </div><span>Cashplus</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice05" name="bank"/>
                      <label for="choice05">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-11.png" alt="Airtel Money"/>
                        </div><span>Airtel Money</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice06" name="bank"/>
                      <label for="choice06">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-12.png" alt="GTBank"/>
                        </div><span>GTBank</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <h3 class="section-title">Account Details</h3>
                <div class="form-group">
                  <label for="accountNumber">Account Number</label>
                  <input class="form-control custom-field" id="accountNumber" type="text" placeholder="Account Number">
                </div>
                <div class="form-group">
                  <label for="confirmAccount">Re-enter Your Account Number</label>
                  <input class="form-control custom-field" id="confirmAccount" type="text" placeholder="Confirm Account Number">
                </div>
                <div class="form-group">
                  <label for="idNumber">ID Number</label>
                  <input class="form-control custom-field" id="idNumber" type="text" placeholder="ID Number">
                </div>
                <div class="form-group">
                  <label for="phoneNumber">Phone Number</label>
                  <div class="input-group">
                    <select class="form-control custom-select custom-field">
                      <option selected="">+1 - United States</option>
                      <option>+1 - Canada</option>
                    </select>
                    <input class="form-control custom-field" id="phoneNumber" type="text" placeholder="Phone">
                  </div>
                </div>
                <div class="mt-5"><a class="btn btn-primary btn-lg btn-block" href="confirmation.html">Next</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

src/pug/deposit-account.pug
extends _main.pug

block title
	| BNB - Deposit Account Details

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					.steps 
						a.step-item.completed(href='receiver-info.html')
							span.step-number
								i.bx.bx-check
							span.hidden-xs Receiver Information
						a.step-item.current(href='#0')
							span.step-number 2
							span.hidden-xs Deposit Account Details
						a.step-item(href='#0')
							span.step-number 3
							span.hidden-xs Confirmation
					
					.content-box.bg-white
						
						.mb-4
							h4.h5 Abdoulaye Bah
							p Pick Up code: XXXXXXXX 
								br
								| Amount received: 250.00 CAD
						
						
						h3.section-title Choose where to deposit
						
						form
							.form-row
								.col-6.col-md-4
									+choice-item('choice01', 'bank', 'radio', 'img/logo-7.png', 'Orange Money')
								.col-6.col-md-4
									+choice-item('choice02', 'bank', 'radio', 'img/logo-8.png', 'MTN Money')
								.col-6.col-md-4
									+choice-item('choice03', 'bank', 'radio', 'img/logo-9.png', 'Ecobank')
								.col-6.col-md-4
									+choice-item('choice04', 'bank', 'radio', 'img/logo-10.png', 'Cashplus')
								.col-6.col-md-4
									+choice-item('choice05', 'bank', 'radio', 'img/logo-11.png', 'Airtel Money')
								.col-6.col-md-4
									+choice-item('choice06', 'bank', 'radio', 'img/logo-12.png', 'GTBank')
								
							.divider
							
							h3.section-title Account Details
							
							.form-group
								label(for='accountNumber') Account Number
								input.form-control.custom-field#accountNumber(type='text' placeholder='Account Number')
							
							.form-group
								label(for='confirmAccount') Re-enter Your Account Number
								input.form-control.custom-field#confirmAccount(type='text' placeholder='Confirm Account Number')
							.form-group
								label(for='idNumber') ID Number
								input.form-control.custom-field#idNumber(type='text' placeholder='ID Number')
							.form-group
								label(for='phoneNumber') Phone Number
								.input-group
									select.form-control.custom-select.custom-field
										option(selected='') +1 - United States
										option +1 - Canada
									input.form-control.custom-field#phoneNumber(type='text', placeholder='Phone')
									
							.mt-5
								a.btn.btn-primary.btn-lg.btn-block(href='confirmation.html') Next
