index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BNB - Homepage
    </title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="page page-sm">
            <div class="header-box py-5">
              <div class="btn-grou float-right">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</button>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es"> </span> Spanish</a><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr"> </span> French</a></div>
              </div>
            </div>
            <div class="content-box bg-white">
              <ul class="nav custom-tabs mb-4" id="loginTabs" role="tablist">
                <li class="nav-item h4 pl-0 mr-3"><a class="active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Sign In</a></li>
                <li class="nav-item h4 pl-0"><a id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a></li>
              </ul>
              <div class="tab-content" id="loginTabsContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                  <form>
                    <div class="form-group">
                      <label class="sr-only" for="loginEmail">Email address</label>
                      <input class="form-control custom-field" id="loginEmail" type="email" placeholder="Email Address"/>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="loginPass">Password</label>
                      <input class="form-control custom-field" id="loginPass" type="password" placeholder="Password"/>
                      <div class="text-md text-right mt-1"><a class="text-muted" href="#0">Restore Password</a></div>
                    </div>
                    <div class="mt-4"><a class="btn btn-primary btn-lg btn-block" href="dashboard.html">Submit</a></div>
                  </form>
                  <div class="my-4">
                    <div class="text-center text-md text-muted fw-600"><span>or continue with</span></div>
                  </div><a class="btn btn-lg btn-block btn-facebook" href="dashboard.html"><span class="d-inline">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="#ffffff">
                          <path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h8.615v-6.96h-2.338v-2.725h2.338v-2c0-2.325 1.42-3.592 3.5-3.592.699-.002 1.399.034 2.095.107v2.42h-1.435c-1.128 0-1.348.538-1.348 1.325v1.735h2.697l-.35 2.725h-2.348V21H20a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z" fill="#ffffff"></path>
                        </g>
                      </svg></span><span> Facebook</span></a>
                  <div class="my-3"></div><a class="btn btn-lg btn-block btn-google" href="dashboard.html"><span class="d-inline">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="#ffffff">
                          <path d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z" fill="#ffffff"></path>
                        </g>
                      </svg></span><span> Google</span></a>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                  <form>
                    <div class="form-group">
                      <label class="sr-only" for="firstName">First Name</label>
                      <input class="form-control custom-field" id="firstName" type="text" placeholder="First Name"/>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="lastName">Last Name</label>
                      <input class="form-control custom-field" id="lastName" type="text" placeholder="Last Name"/>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="registerEmail">Email address</label>
                      <input class="form-control custom-field" id="registerEmail" type="email" placeholder="Email Address"/>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="registerPass">Password</label>
                      <input class="form-control custom-field" id="registerPass" type="password" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="registerPassConfirm">Confirm Password</label>
                      <input class="form-control custom-field" id="registerPassConfirm" type="password" placeholder="Confirm Password"/>
                    </div>
                    <div class="form-group form-check">
                      <input class="form-check-input" id="exampleCheck1" type="checkbox"/>
                      <label class="form-check-label" for="exampleCheck1">I agree with  <a href="#0"> Terms & Conditions</a></label>
                    </div>
                    <div class="mt-4"><a class="btn btn-primary btn-lg btn-block" href="dashboard.html">Create Account</a></div>
                  </form>
                  <div class="my-4">
                    <div class="text-center text-md text-muted fw-600"><span>or continue with</span></div>
                  </div><a class="btn btn-lg btn-block btn-facebook" href="dashboard.html"><span class="d-inline">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="#ffffff">
                          <path d="M20 3H4a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h8.615v-6.96h-2.338v-2.725h2.338v-2c0-2.325 1.42-3.592 3.5-3.592.699-.002 1.399.034 2.095.107v2.42h-1.435c-1.128 0-1.348.538-1.348 1.325v1.735h2.697l-.35 2.725h-2.348V21H20a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1z" fill="#ffffff"></path>
                        </g>
                      </svg></span><span> Facebook</span></a>
                  <div class="my-3"></div><a class="btn btn-lg btn-block btn-google" href="dashboard.html"><span class="d-inline">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <g fill="#ffffff">
                          <path d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z" fill="#ffffff"></path>
                        </g>
                      </svg></span><span> Google</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

src/pug/index.pug
extends _main.pug

block title
	| BNB - Homepage

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				.page.page-sm
					+header-box
								
					.content-box.bg-white
					
						
						ul#loginTabs.nav.custom-tabs.mb-4(role='tablist')
							li.nav-item.h4.pl-0.mr-3
								a#login-tab.active(data-toggle='tab', href='#login', role='tab', aria-controls='login', aria-selected='true') Sign In
							li.nav-item.h4.pl-0
								a#register-tab(data-toggle='tab', href='#register', role='tab', aria-controls='register', aria-selected='false') Register
							
						#loginTabsContent.tab-content
							#login.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='login-tab')
								+login-form
								+social-login
								
							#register.tab-pane.fade(role='tabpanel', aria-labelledby='register-tab')
								
								+register-form
								
								+social-login
							
						
						
					
					
