src/pug/receiver-info.pug
extends _main.pug

block title
	| BNB - Receiver Information

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					.content-box.bg-white.py-4.text-center.mb-4
						h4.alert-heading.text-success Profile Created!
						p.text-muted Please verify your account to start using our service
						hr
						a.btn.btn-success(href='verification.html') Verify Now
					.steps
						a.step-item.current(href='#0')
							span.step-number 1
							span.hidden-xs Receiver Information
						a.step-item(href='#0')
							span.step-number 2
							span.hidden-xs Deposit Account Details
						a.step-item(href='#0')
							span.step-number 3
							span.hidden-xs Confirmation
					
					.content-box.bg-white
						h3.section-title Select Sending Company
						
						form
							.form-row
								.col-6.col-md-4
									+choice-item('choice01', 'sender', 'radio', 'img/logo-1.png', 'MoneyGram')
								.col-6.col-md-4
									+choice-item('choice02', 'sender', 'radio', 'img/logo-2.png', 'Western Union')
								.col-6.col-md-4
									+choice-item('choice03', 'sender', 'radio', 'img/logo-3.png', 'World Remit')
								.col-6.col-md-4
									+choice-item('choice04', 'sender', 'radio', 'img/logo-4.png', 'Xoom')
								.col-6.col-md-4
									+choice-item('choice05', 'sender', 'radio', 'img/logo-5.png', 'Yahwii')
								.col-6.col-md-4
									+choice-item('choice06', 'sender', 'radio', 'img/logo-6.png', 'Transferwise')
								
							.divider
							
							.form-row
								.col-md-6
									.form-group
										label(for='moneyAmount') How much are you receiving?
										.input-group
											input.form-control.custom-field#moneyAmount(type='text', placeholder='Amount')
											select.form-control.custom-select.custom-field
												option(selected='') CAD
												option(value='1') USD
												option(value='2') EUR
												option(value='3') GBP


								.col-md-6
									.form-group
										label(for='pickUpCode') Pickup Code
										input.form-control.custom-field#pickUpCode(type='text' placeholder='Pickup Code')
							
							.mt-4
								a.btn.btn-primary.btn-lg.btn-block(href='deposit-account.html') Next

receiver-info.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BNB - Receiver Information
    </title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="page page-md">
            <div class="header-box py-5">
              <div class="btn-grou float-right">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</button>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es"> </span> Spanish</a><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr"> </span> French</a></div>
              </div>
            </div>
            <div class="content-box bg-white py-4 text-center mb-4">
              <h4 class="alert-heading text-success">Profile Created!</h4>
              <p class="text-muted">Please verify your account to start using our service</p>
              <hr><a class="btn btn-success" href="verification.html">Verify Now</a>
            </div>
            <div class="steps"><a class="step-item current" href="#0"><span class="step-number">1</span><span class="hidden-xs">Receiver Information</span></a><a class="step-item" href="#0"><span class="step-number">2</span><span class="hidden-xs">Deposit Account Details</span></a><a class="step-item" href="#0"><span class="step-number">3</span><span class="hidden-xs">Confirmation</span></a></div>
            <div class="content-box bg-white">
              <h3 class="section-title">Select Sending Company</h3>
              <form>
                <div class="form-row">
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice01" name="sender"/>
                      <label for="choice01">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-1.png" alt="MoneyGram"/>
                        </div><span>MoneyGram</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice02" name="sender"/>
                      <label for="choice02">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-2.png" alt="Western Union"/>
                        </div><span>Western Union</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice03" name="sender"/>
                      <label for="choice03">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-3.png" alt="World Remit"/>
                        </div><span>World Remit</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice04" name="sender"/>
                      <label for="choice04">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-4.png" alt="Xoom"/>
                        </div><span>Xoom</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice05" name="sender"/>
                      <label for="choice05">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-5.png" alt="Yahwii"/>
                        </div><span>Yahwii</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-md-4">
                    <div class="choice-item">
                      <input type="radio" id="choice06" name="sender"/>
                      <label for="choice06">
                        <div class="choice-item-content">
                          <div class="check-state"><i class="bx bx-check"></i></div><img src="img/logo-6.png" alt="Transferwise"/>
                        </div><span>Transferwise</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="moneyAmount">How much are you receiving?</label>
                      <div class="input-group">
                        <input class="form-control custom-field" id="moneyAmount" type="text" placeholder="Amount">
                        <select class="form-control custom-select custom-field">
                          <option selected="">CAD</option>
                          <option value="1">USD</option>
                          <option value="2">EUR</option>
                          <option value="3">GBP</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="pickUpCode">Pickup Code</label>
                      <input class="form-control custom-field" id="pickUpCode" type="text" placeholder="Pickup Code">
                    </div>
                  </div>
                </div>
                <div class="mt-4"><a class="btn btn-primary btn-lg btn-block" href="deposit-account.html">Next</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
