success.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BNB - Success!
    </title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="page page-md">
            <div class="header-box py-5">
              <div class="btn-grou float-right">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</button>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es"> </span> Spanish</a><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr"> </span> French</a></div>
              </div>
            </div>
            <div class="content-box bg-white">
              <h3 class="text-center mb-4">Money Deposited!</h3>
              <div class="row">
                <div class="col-md-5">
                  <div class="sender-logo text-center pb-2"><img src="img/logo-1.png"></div>
                </div>
                <div class="col-md-7">
                  <table class="table table-sm table-borderless">
                    <tr>
                      <td>Sender:</td>
                      <th>Western Union</th>
                    </tr>
                    <tr>
                      <td>Pickup Code:</td>
                      <th>XXXXXXX</th>
                    </tr>
                    <tr>
                      <td>Confirmation Number:</td>
                      <th>XXXXXXXX</th>
                    </tr>
                  </table>
                  <p><strong>Thank You!</strong></p>
                </div>
              </div>
              <div class="mt-5"><a class="btn btn-primary btn-lg btn-block" href="receiver-info.html">Pickup Another Transfer</a><br><a class="btn btn-outline-secondary btn-lg btn-block" href="dashboard.html">Dashboard</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

src/pug/success.pug
extends _main.pug

block title
	| BNB - Success!

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					
					.content-box.bg-white
						
						
						h3.text-center.mb-4 Money Deposited!
						
						
						.row
							.col-md-5
								.sender-logo.text-center.pb-2
									img(src='img/logo-1.png')
							.col-md-7
								table.table.table-sm.table-borderless
									tr
										td Sender:
										th Western Union
									tr
										td Pickup Code:
										th XXXXXXX
									tr
										td Confirmation Number:
										th XXXXXXXX

								p
									strong Thank You!
						
						
						
									
						.mt-5
							a.btn.btn-primary.btn-lg.btn-block(href='receiver-info.html') Pickup Another Transfer
							br
							a.btn.btn-outline-secondary.btn-lg.btn-block(href='dashboard.html') Dashboard
