verification.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BNB - Profile Verification
    </title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/flag-icon.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="page page-md">
            <div class="header-box py-5">
              <div class="btn-grou float-right">
                <button class="btn btn-light btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"> </span> English</button>
                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es"> </span> Spanish</a><a class="dropdown-item" href="#"><span class="flag-icon flag-icon-fr"> </span> French</a></div>
              </div>
            </div>
            <div class="content-box bg-white">
              <h3 class="section-title">Verify Your Profile</h3>
              <p>Please upload a government issued document to verify your account.</p>
              <form>
                <div class="form-group">
                  <label for="customFile">Select document to upload</label>
                  <div class="custom-file">
                    <input class="custom-file-input" id="customFile" type="file">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div><small class="form-text text-muted">JPG or PNG. Max file size 2MB</small>
                </div>
                <div class="divider"></div>
                <div class="form-group form-check">
                  <input class="form-check-input" id="exampleCheck1" type="checkbox">
                  <label class="form-check-label" for="exampleCheck1">I confirm that information provided is up-to-date and correct.</label>
                </div>
                <div class="mt-4"><a class="btn btn-primary btn-lg btn-block" href="receiver-info.html">Confirm and Upload</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

src/pug/verification.pug
extends _main.pug

block title
	| BNB - Profile Verification

block content
	
	.container
		.row.justify-content-center
			.col-md-12
				
				.page.page-md
					+header-box
					
					.content-box.bg-white
						h3.section-title Verify Your Profile
						
						p Please upload a government issued document to verify your account.
						
						form
							
							.form-group
								label(for='customFile') Select document to upload
								.custom-file
									input#customFile.custom-file-input(type='file')
									label.custom-file-label(for='customFile') Choose file
								small.form-text.text-muted JPG or PNG. Max file size 2MB
							.divider
							.form-group.form-check
								input#exampleCheck1.form-check-input(type='checkbox')
								label.form-check-label(for='exampleCheck1') I confirm that information provided is up-to-date and correct.
							
							.mt-4
								a.btn.btn-primary.btn-lg.btn-block(href='receiver-info.html') Confirm and Upload
